.contNav{
    background-color: bisque;
    align-content: center;
    align-items: center;
    border-radius: 15px;
 }
 .bottNav{
   
   position: relative;
   left: 200px;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);

 }